/* Hapus import Poppins karena kita sudah pakai link di index.html untuk performa lebih baik */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-text-light font-sans antialiased selection:bg-primary selection:text-dark-bg overflow-x-hidden;
  }

  html {
    @apply scroll-smooth overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif tracking-wide;
  }
}

/* Custom Scrollbar Elegant */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D4AF37;
  /* Gold on hover */
}

/* Utilitas tambahan untuk efek kaca yang halus */
.glass-panel {
  @apply bg-dark-surface/30 backdrop-blur-md border border-white/5;
}